<div class="mdl-grid">
  <div class="mdl-layout-spacer"></div>
  <form [formGroup]="myForm" (ngSubmit)="onSubmit()">
    <p>
      <mdl-textfield label="First Name" type="text" formControlName="firstName" floating-label></mdl-textfield>
    </p>
    <p>
      <mdl-textfield label="Last Name" type="text" formControlName="lastName" floating-label></mdl-textfield>
    </p>
    <p>
      <mdl-textfield label="Mail" type="email" formControlName="email" floating-label></mdl-textfield>
    </p>
    <p>
      <mdl-textfield label="Password" type="password" formControlName="password" floating-label></mdl-textfield>
    </p>
    <p>
      <button mdl-button (click)="onSubmit()"  [disabled]="!myForm.valid" mdl-button-type="raised" mdl-ripple mdl-colored="primary">Submit</button>
      <a class="alt-button" mdl-button mdl-button-type="raised" mdl-ripple mdl-colored="primary" [routerLink]="['../signin']">Signin</a>
    </p>
  </form>
  <div class="mdl-layout-spacer"></div>
</div>
