<div *ngIf="!edit" class="mdl-card__title"> {{ message.content }} </div>
<mdl-textfield *ngIf="edit" rows="5" maxrows="10" class="mdl-card__title" type="text" [(ngModel)]="message.content"></mdl-textfield>

<div class="mdl-card__supporting-text mdl-color-text--grey-600 author"> {{ message.username }} </div>

<div *ngIf="isMyMessage()" class="mdl-card__menu">
  <a *ngIf="!edit" (click)="onEdit()"><i class="material-icons">mode edit</i></a>
  <a *ngIf="!edit" (click)="onDelete()"><i class="material-icons">delete</i></a>

  <a *ngIf="edit" (click)="acceptChanges()"><i class="material-icons">done</i></a>
  <a *ngIf="edit" (click)="cancelChanges()"><i class="material-icons">clear</i></a>
</div>
